.left-profile {
    width: 70%;
    height: 100%;
    background-color: #c4ebfd;

}

.right-profile {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-profile a:any-link {
    color: #bdbdbd;
    margin: 0.5rem;
}

h2 {
    font-family: 'Heebo', sans-serif;
    font-size: 1.8rem;
}

.left-profile {
    display: flex;
    justify-content: center;
    align-items: center;
}
